<!DOCTYPE html>
<html lang="en" >
<head>
	
  <meta charset="UTF-8">
  <title><\EMILIA BOT></title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<meta property="og:title" content="Emilia Bot" />
<meta property="og:description" content="Whatsapp Bot For You" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://bot.wibusoft.cloud/" />
<meta property="og:image" content="https://telegra.ph/file/fb6c8346c7eb7297e5572.jpg" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css'><link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" href="https://www.wibusoft.com/p/assets/img/favicons/favicon.png" type="image/x-icon" />
</head>
<body>
<!-- partial:index.partial.html -->
<body>
	<nav class="navbar navbar-expand-lg sticky-top navbar-dark">
  <a class="navbar-brand" href="#"><code><\EMILIA BOT></a></code>

<div> 
    <object type="text/html" data="http://validator.w3.org/" width="5px" height="5px" style="overflow:auto;border:5px ridge white">
    </object>
 </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
<div class="jumbotron">
	<img class="logonya" src="https://telegra.ph/file/fb6c8346c7eb7297e5572.jpg"></img>
  <h1 class="display-4"></h1>
  <p class="lead">Emilia BOT adalah bot whatsapp yang dibuat oleh <code>Ditzzy</code> menggunakan bahasa pemograman javascript yang telah berjalan selama 5 bulan.<br>Dengan menggunakan Emilia Bot kamu dapat membuat sticker, download video dan audio dari youtube, download video dari instagram dan masih banyak lagi</p>
  <hr class="my-4">
  <p>If you want request featured just type <code>#req </code></p>
  <a class="btn btn-primary btn-md" href="https://wa.me/qr/2KBR3TSSXPFIE1" role="button" target="_blank"><i class="fa fa-whatsapp"> Chat Emilia Bot</a><i>
</div>
</div></div>
<div class="container">
<div class="jumbotron">
	<hr class="my-4">
	<center><p class"fitur">FEATURES</p></center>
<hr class="my-4">
	
	
<img src="https://storage.caliph71.xyz/img/bot.png" alt="WANGSAF"></img>
  <h1 class="display-4"></h1>
  <hr class="my-4">
  <p>Sticker Maker, membuat sticker dari video atau gambar dalam waktu singkat</p>
 <hr class="my-4">
 <br>
  	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOCPEWUN9HikSAqu2Vc5edohQtjBebzw7MEN2QQ-pt0W9XTaeo15Ye_D4&s=10" alt="YUTUP"></img>
  <h1 class="display-4"></h1>
  <hr class="my-4">
  <p>Dengan menggunakan Emilia Bot kamu dapat mendownload video atau audio dari youtube dengan sangat mudah</p>
 <hr class="my-4">
<br>
 <img src="https://storage.caliph71.xyz/img/tiktok.png" alt="TIKTOD"></img>
  <h1 class="display-4"></h1>
  <hr class="my-4">
  <p>Dengan menggunakan Emilia Bot kamu juga dapat mendownload video atau audio dari tiktok dengan sangat mudah</p>
  <hr class="my-4">
</div></div></div>
  
<div class="container">
<div class="jumbotron">
	<hr class="my-4">
	<center><p class"harga">PRICING</p></center>
<hr class="my-4">
	
	
 <center><strong><p class="pricing">Free User</p></strong>
  <small class="pricing">Rp. 0</small>
  <br>
  	<br>
  <p><i class="fa fa-check"></i> Bot Online 24 jam</p>
  <p><i class="fa fa-times"></i> Unlimited Limit</p>
  <p><i class="fa fa-times"></i> Premium User</p>
  <p><i class="fa fa-times"></i>  Bot to Group</p>
 <a class="btn btn-primary btn-md" href="https://wa.me/qr/SPCK55QFXBTIH1" role="button" target="_blank">Chat Now</a><i>
 
<hr class="my-4">

<strong><p class="pricing">Premium User</p></strong>
  <small class="pricing">Rp. 10k</small>
  <br>
  	<br>
  <p><i class="fa fa-check"></i> Bot Online 24 jam</p>
  <p><i class="fa fa-check"></i> Unlimited Limit</p>
  <p><i class="fa fa-check"></i> Premium User</p>
  <p><i class="fa fa-check"></i>  Bot to Group</p> 
  <a class="btn btn-primary btn-md" href="https://wa.me/qr/2KBR3TSSXPFIE1" role="button" target="_blank">Buy Now</a><i>
</center>

  <hr class="my-4">
  <br>
</div>
	</div>
  </div>
  
</div>
</div>

</body>

<script>
	var source = "audio/emilia.mp3"
 var audio = document.createElement("audio");
 //
 audio.autoplay = true;
 //
 audio.load()
 audio.addEventListener("load", function() { 
     audio.play(); 
 }, true);
 audio.src = source;
	</script>
<!-- partial -->
	<script src="index.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
</body>
</html>
